.app {
  display: flex;
  background: #1e1e1e;
}
.sidebarBox {
  min-height: 100vh;
  min-width: 300px;
  background: #252526;
  max-height: 100vh;
  flex: 0 0 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.sidebarBox::-webkit-scrollbar {
  width: 5px;
}

.sidebarBox::-webkit-scrollbar-track {
  background: #1e1e1e;
}

.sidebarBox::-webkit-scrollbar-thumb {
  background: rgb(56, 56, 56);
}

.sidebarBox::-webkit-scrollbar-thumb:hover {
  background: rgb(56, 56, 56);
}
.sidebarBox * {
  color: #ffffff;
}
